<html>
        <head>
                 <title>Sentiment Analysis</title>
        </head>

        <body bgcolor="#0fc180">
                <h1>Sentiment Analysis</h1>
                <h1 style "color: green">
                <h3>Enter some text:<h3>

                <form method='POST' action="/">
                        <textarea title="Text" placeholder="Enter some text here to get its sentiment" name="text_area" rows="10" cols="75">{{text_input}}</textarea><br><br>
                        <input type="submit" name="action" value="Analyze Text"><br><br><br>
                </form>
                <p>Results:<p><br>
                <form method="POST" action="/">
                        <textarea title="Sentiment: " name="result_area" rows="2" cols="40">{{text_output}}</textarea>
                </form>

                <br><br><br><br>

                <a href="https://github.com/pn89348/CIS24C/blob/master/Projects/Project.ipynb">View Review Analysis on Github<a>
                <h4>Pranav's Info<h4><br>
                <a href="mailto:pranav7777@outlook.com">Email: pranav7777@oulook.com<a><br>
                <a href="https://www.linkedin.com/in/pranav-nigam-a622a3124/">LinkedIn<a><br>
        </body>
</html>